@font-face {
    font-family: 'Monaspace Krypton';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(@fontsource/monaspace-krypton/files/monaspace-krypton-latin-400-normal.woff2) format('woff2'), url(@fontsource/monaspace-krypton/files/monaspace-krypton-latin-400-normal.woff) format('woff');
    ascent-override: 95%;
}
body {
    font-family: 'Monaspace Krypton', monospace;
    font-size: 11pt;
    font-variant-ligatures: none;
}